include inc/head.pug
include inc/header.pug

section.expert
  .container
    .row
      .col-12.col-md-8.offset-md-4
        .expert__head
          a.expert__head-link(href="!#") Все эксперты
          .expert__head-name Павел Шмелев
          .expert__head-desc Аккредитованный тренер-преподаватель школы HR-MOS
    .row
      .col-12.col-md-4
        .expert__photo-wrap
          img.expert__photo(src="img/expert/expert-photo.jpg", alt="")
      .col-12.col-md-8
        .expert__stat-wrap
          .expert__stat
            each item in [1,2,3,4,5]
              .expert__stat-item
                .expert__stat-count 28
                .expert__stat-count-desc Тренингов проведено

        .expert__button-wrap
          .expert__button-desc Хотите задать вопрос эксперту?
          .expert__button.btn.btn--arrow.btn--medium Задать вопрос эксперту

section.expert-about
  .container
    .expert-about__container
      .expert-about__elem
        each item in expertAbout
          .expert-about__item
            .expert-about__item-text
              h3.expert-about__title= item.title
              p.expert-about__desc= item.desc

      .expert-about__elem
        .expert-about__video
          .iframeWrap
            <iframe src="https://www.youtube.com/embed/zIwLWfaAg-8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

section.expert-book
  .container
    .expert-book__container
      p.expert-book__annotation Игоря заслуженно называют одним из самых опытных тренеров страны и профессионалом высочайшего уровня. По общему мнению, участие в его программах всегда превосходит ожидания как по результативности, так и по удовлетворённости процессом обучения.
      .expert-book__desc
        .expert-book__title Название книги
        .expert-book__author Павел Шмелев

      .expert-book__img
        img(src="img/expert/expert-book.jpg", alt="")

section.expert-certificate
  .expert-certificate__title Сертификаты и дипломы

  .container
    .glide
        .glide__track(data-glide-el='track')
          .about__gallery-slides.glide__slides
            .about__gallery-item
              img.about__gallery-img(src='img/expert/certificate-1.jpg')
            .about__gallery-item
              img.about__gallery-img(src='img/expert/certificate-2.jpg')
            .about__gallery-item
              img.about__gallery-img(src='img/expert/certificate-3.jpg')
            .about__gallery-item
              img.about__gallery-img(src='img/expert/certificate-4.jpg')

        .glide__arrows(data-glide-el='controls')
          button.glide__arrows-item.glide__arrows-item--prev.glide__arrows-item--gray.glide__arrows-item--mobile-only(data-glide-dir='<')
          button.glide__arrows-item.glide__arrows-item--next.glide__arrows-item--gray.glide__arrows-item--mobile-only(data-glide-dir='>')

    .expert__button-wrap
      a(href='document/resume.pdf' download).expert__button.btn.btn--arrow.btn--medium Скачать подробное резюме

section.expert-courses
  .container
    .expert-courses__title Автор и ведущий курсов BE HR

    .expert-courses__courses
      each item in coursesShort
        .expert-courses__item-wrap
          .course
            .course__img-wrap
              img.course__img(src="img/courses/course-img-" + item.number + ".png")
            .course__title= item.title
               
section.expert-recomended
  .title-lined 
    h2.title-lined__title Павла Шмелева рекомендуют

  .container
    .expert-recomended__slider
      .glide
        .glide__track(data-glide-el='track')
          .glide__slides
            each data in expertsRecomended
              .glide__slide
                +expert-preview(data, false, true)

        .glide__arrows.glide__arrows--side(data-glide-el='controls')
          button.glide__arrows-item.glide__arrows-item--prev.glide__arrows-item--gray(data-glide-dir='<')
          button.glide__arrows-item.glide__arrows-item--next.glide__arrows-item--gray(data-glide-dir='>')

    .expert-recomended__btn-wrap
      a.experts__btn.btn.btn--medium.btn--arrow(href="!#") Связаться с экспертом

section.expert-articles

  .title-lined 
    h2.title-lined__title Мысли эксперта в блоге

  .container
    .expert-articles__wrap
      article.blog__article.blog__article--video
        a.blog__article-link(href='#!')
          img.blog__article-img(src='img/img-3.jpg')
          .blog__article-title= blog[0].title
          .blog__article-text= blog[0].text
          .blog__article-info
            .blog__article-date= blog[0].date
            .blog__article-comments 4
            .blog__article-views 28

      each data in [1,2,3]
        article.blog__article
          a.blog__article-link(href='#!')
            img.blog__article-img(src='img/img-3.jpg')
            .blog__article-title= blog[0].title
            .blog__article-text= blog[0].text
            .blog__article-info
              .blog__article-date= blog[0].date
              .blog__article-comments 4
              .blog__article-views 28
        
    .expert__button-wrap
      a(href='!#').expert__button.btn.btn--arrow.btn--medium Смотреть все статьи

section.expert-gallery
  .container
    .expert-gallery__photos-slider
      .glide
        .glide__track(data-glide-el='track')
          .glide__slides
            each i in [1,2,3,4,5]
              .glide__slid
                img(width="1400" height="900" src="https://placehold.it/1400x900" data-basicLightbox data-id="0")
                a.about__photos-slide(href='#!' data-show-id='0')
                  img.about__photos-slide-img(src='img/expert/expert-gallery-'+i+'.jpg')

        .glide__arrows(data-glide-el='controls')
          button.glide__arrows-item.glide__arrows-item--prev.glide__arrows-item--gray.glide__arrows-item--mobile-only(data-glide-dir='<')
          button.glide__arrows-item.glide__arrows-item--next.glide__arrows-item--gray.glide__arrows-item--mobile-only(data-glide-dir='>')
include inc/footer.pug
+footer('short')
include inc/foot.pug