include inc/head.pug
include inc/header.pug

.hero
  .hero__slider
    .glide
      .glide__track(data-glide-el='track')
        .glide__slides
          .glide__slide.hero__slider-item.hero__slider-item--1
            .container
              .hero__slider-title 
                | Национальная академия HR специалистов 
                .hero__slider-title-mark BE HR 
                |  — это...

              .hero__slider-list
                for item, i in heroSlider1
                  .hero__slider-list-item
                    .hero__slider-list-icon(class='hero__slider-list-icon--' + (i + 1))
                    .hero__slider-list-title!= item.title
                    .hero__slider-list-text!= item.text

              .hero__slider-btn
                a.btn.btn--large.hero__slider-btn-item(href='#!') Смотреть продукты BEHR

          .glide__slide.hero__slider-item.hero__slider-item--2
            .container
              .hero__slider-title.hero__slider-title--small
                | Онлайн курс «<div class="hero__slider-title-mark">HR PRO</div>»
                .hero__slider-title-mark-small Самый полный и эффективный курс для HR специалистов в СНГ

              .hero__slider-list
                for item, i in heroSlider2
                  .hero__slider-list-item.hero__slider-list-item--small
                    .hero__slider-list-icon.hero__slider-list-icon--small(class='hero__slider-list-icon--' + (i + 5))
                    .hero__slider-list-title.hero__slider-list-title--small!= item.title
                    .hero__slider-list-text!= item.text

              .hero__slider-circles
                for item in heroSlider2_2
                  .hero__slider-circles-item
                    .hero__slider-circles-title!= item.title
                    .hero__slider-circles-text!= item.text

              .hero__slider-btn
                a.btn.btn--large.hero__slider-btn-item(href='#!') Посмотреть программу курса

          .glide__slide.hero__slider-item.hero__slider-item--3
            .container
              .hero__slider-title.hero__slider-title--small
                | Национальная сертификация HR специалистов

              .hero__slider-cert
                img.hero__slider-cert-item(src='img/hero/certify.jpg')

                ul.hero__slider-cert-list
                  for item in heroSlider3
                    li.hero__slider-cert-list-item= item.title

              .hero__slider-btn
                a.btn.btn--large.hero__slider-btn-item(href='#!') Подробнее о сертификации

      .glide__bullets(data-glide-el='controls[nav]')


section.schedule
  .schedule__container.container.container--full-sm
    h2.schedule__title.h2 
      a.title-mark.title-mark--white(href='#!') Расписание

    .schedule__slider
      .glide
        .glide__track(data-glide-el='track')
          .glide__slides
            for item in schedule
              .glide__slide
                .schedule__card
                  .schedule__card-img
                    img.schedule__card-img-item(src='img/img-1.jpg')
                  .schedule__card-title= item.title
                  .schedule__card-body
                    .icon-text.icon-text--location= item.location
                    .icon-text.icon-text--calendar= item.time

                    .schedule__card-btn
                      a.schedule__card-btn-item.btn(href='#!') Программа

          .glide__arrows(data-glide-el='controls')
            button.glide__arrows-item.glide__arrows-item--prev(data-glide-dir='<')
            button.glide__arrows-item.glide__arrows-item--next(data-glide-dir='>')


section.experts.experts--slider
  .container.container--full-sm
    h1.experts__title.h1 
      a.title-mark(href='#!') Наши эксперты

    .experts__slider
      .glide
        .glide__track(data-glide-el='track')
          .glide__slides
            each data in experts
              .glide__slide
                +expert-preview(data, true)

        .glide__arrows.glide__arrows--side(data-glide-el='controls')
          button.glide__arrows-item.glide__arrows-item--prev.glide__arrows-item--gray(data-glide-dir='<')
          button.glide__arrows-item.glide__arrows-item--next.glide__arrows-item--gray(data-glide-dir='>')

    .experts__btn-wrap
      a.experts__btn.btn.btn--medium.btn--arrow(href="!#") Узнать всех экспертов

section.partners
  .container
    h2.partners__title.h2
      | Наши 
      a.title-mark(href='#!') партнеры
    
    .partners__list
      for i in [1,2,3,4,5,6,7,8,9,10,11,12]
        .partners__list-item
          img.partners__list-item-img(src='img/partners/' + i + '.png')

    .partners__btn
      a.btn.btn--medium.btn--arrow(href='#!' data-show-id='recall') Станьте нашим партнером


section.blog-new
  .container
    h2.blog-new__title.h2
      | Новое в  
      a.title-mark(href='#!') блоге

    .row.no-gutters
      .col-12.col-lg-6
        for item in blogNew
          a.blog-new__article(href='#!')
            img.blog-new__article-img(src='img/img-2.jpg')
            .blog-new__article-title= blogNew[1].title
            .blog-new__article-text= item.text
            .blog-new__article-date= item.date
            .blog-new__article-read Читать

      .col-12.col-lg-6
        .blog-new__action
          .blog-new__action-title Получите доступ к материалам Базы Знаний профессионалов HR бесплатно!

          form.form.blog-new__action-form(action='#!')
            .input-group
              input.input-group__item(type='text' name='name' placeholder='Имя')
            
            .input-group
              input.input-group__item(type='text' name='name' placeholder='E-mail')

            .input-group
              button.blog-new__action-btn.btn.btn--medium.btn--arrow Получить бесценный контент


section.reviews
  .container
    h2.reviews__title.h2
      a.title-mark(href='#!') Отзывы
      |  об Академии 

    .reviews__slider
      .glide
        .glide__track(data-glide-el='track')
          .glide__slides
            for item in reviews
              .glide__slide
                iframe(width="700px" height="394" src="https://www.youtube.com/embed/NK2_bcQcoD4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen data-basicLightbox data-id='videoId')

                .reviews__card
                  .reviews__card-img
                    img.reviews__card-img-item(src='img/home/review-1.jpg')
                  .reviews__card-title= item.title
                  .reviews__card-desc= item.desc
                  a.reviews__card-link.link(href='#!')= item.link

                  .reviews__card-body
                    .reviews__card-text= item.text

                    .reviews__card-video(data-show-id='videoId')
                      img.reviews__card-video-item(src='img/home/video-1.jpg')

          .glide__arrows(data-glide-el='controls')
            button.glide__arrows-item.glide__arrows-item--dark.glide__arrows-item--prev(data-glide-dir='<')
            button.glide__arrows-item.glide__arrows-item--dark.glide__arrows-item--next(data-glide-dir='>')

section.last
  .container
    .row
      .col-12.col-lg-6
        .last__title Фото мероприятий
        .last__gallery
          .glide
            .glide__track(data-glide-el='track')
              .glide__slides
                .last__gallery-item(style='background-image: url(img/home/gallery-1.jpg)')
                .last__gallery-item(style='background-image: url(img/home/gallery-2.jpg)')
                .last__gallery-item(style='background-image: url(img/home/gallery-3.jpg)')
                .last__gallery-item(style='background-image: url(img/home/gallery-4.jpg)')
                .last__gallery-item(style='background-image: url(img/home/gallery-5.jpg)')
                .last__gallery-item(style='background-image: url(img/home/gallery-6.jpg)')
 
      .col-12.col-lg-6
        .last__title Сертификаты
        .last__cert
          .last__cert-item
            img.last__cert-item-img(src='img/home/cert-1.jpg')
          .last__cert-item
            img.last__cert-item-img(src='img/home/cert-2.jpg')

section.call-action
  .container
    form.form.call-action__form(action='#!')
      .call-action__title Помочь с выбором?
      
      .input-group
        input.input-group__item(type='text' name='name' placeholder='Ваше имя')
      
      .input-group
        input.input-group__item(type='text' name='name' placeholder='E-mail')

      .input-group
        button.call-action__btn.btn.btn--medium.btn--arrow Подобрать тренинг

include inc/modal-recall.pug

include inc/footer.pug
+footer
include inc/foot.pug