include inc/head.pug
include inc/header.pug

.hero
  .hero__slider
    .glide
      .glide__track(data-glide-el='track')
        .glide__slides
          .glide__slide.hero__slider-item.hero__slider-item--1
            .container
              .hero__slider-title 
                | Национальная академия HR специалистов 
                .hero__slider-title-mark BE HR 
                |  — это...

              .hero__slider-list
                for item, i in heroSlider1
                  .hero__slider-list-item
                    .hero__slider-list-icon(class='hero__slider-list-icon--' + (i + 1))
                    .hero__slider-list-title!= item.title
                    .hero__slider-list-text!= item.text

              .hero__slider-btn
                a.btn.btn--large.hero__slider-btn-item(href='#!') Смотреть продукты BEHR

          .glide__slide.hero__slider-item.hero__slider-item--2
            .container
              .hero__slider-title.hero__slider-title--small
                | Онлайн курс «<div class="hero__slider-title-mark">HR PRO</div>»
                .hero__slider-title-mark-small Самый полный и эффективный курс для HR специалистов в СНГ

              .hero__slider-list
                for item, i in heroSlider2
                  .hero__slider-list-item.hero__slider-list-item--small
                    .hero__slider-list-icon.hero__slider-list-icon--small(class='hero__slider-list-icon--' + (i + 5))
                    .hero__slider-list-title.hero__slider-list-title--small!= item.title
                    .hero__slider-list-text!= item.text

              .hero__slider-circles
                for item in heroSlider2_2
                  .hero__slider-circles-item
                    .hero__slider-circles-title!= item.title
                    .hero__slider-circles-text!= item.text

              .hero__slider-btn
                a.btn.btn--large.hero__slider-btn-item(href='#!') Посмотреть программу курса

          .glide__slide.hero__slider-item.hero__slider-item--3
            .container
              .hero__slider-title.hero__slider-title--small
                | Национальная сертификация HR специалистов

              .hero__slider-cert
                img.hero__slider-cert-item(src='img/hero/certify.jpg')

                ul.hero__slider-cert-list
                  for item in heroSlider3
                    li.hero__slider-cert-list-item= item.title

              .hero__slider-btn
                a.btn.btn--large.hero__slider-btn-item(href='#!') Подробнее о сертификации

      .glide__bullets(data-glide-el='controls[nav]')


section.schedule
  .schedule__container.container.container--full-sm
    h2.schedule__title.h2 
      .title-mark.title-mark--white Расписание

    .schedule__slider
      .glide
        .glide__track(data-glide-el='track')
          .glide__slides
            for item in schedule
              .glide__slide
                .schedule__card
                  .schedule__card-img
                    img.schedule__card-img-item(src='img/img-1.jpg')
                  .schedule__card-title= item.title
                  .schedule__card-body
                    .icon-text.icon-text--location= item.location
                    .icon-text.icon-text--calendar= item.time

                    .schedule__card-btn
                      a.schedule__card-btn-item.btn(href='#!') Программа

          .schedule__slider-arrows(data-glide-el='controls')
            button.schedule__slider-arrows-item.schedule__slider-arrows-item--prev(data-glide-dir='<')
            button.schedule__slider-arrows-item.schedule__slider-arrows-item--next(data-glide-dir='>')


section.partners
  .container
    h2.partners__title.h2
      | Наши
      .title-mark партнеры
    
    .partners__list
      for i in [1,2,3,4,5,6,7,8,9,10,11,12]
        .partners__list-item
          img.partners__list-item-img(src='img/partners/' + i + '.png')

    .partners__btn
      a.btn.btn--medium.btn--arrow(href='#!') Станьте нашим партнером

include inc/footer.pug
include inc/foot.pug